/* GENERAL */
.w-button {
    background:#646e8c; /*Slate Grey*/
    transition:all 0.5s ease-in-out 0s;
    color:#fff;
    padding-top:10px;
    padding-bottom:10px;
}
.w-button:hover{
    background:#c0d0ed; /*Light Steel Blue*/
    color:#2e3655; /*Dark Slate Blue*/
}
#banner{
    padding:70px 0;
}
.single-portfolio, .page-template-gallery_2, .page-template-gallery_1, .page-template-gallery_3, .page-template-gallery_4{
    padding-top:70px;
}
heading-bdr{
    z-index:1;
}
.page-template-contact{
    padding-top:70px;
}
.blog, .archive, .author, .taxonomy, .tag, .category{
    padding-top:70px;
}
.blog h1, .archive h1, .author h1, .taxonomy h1, .tag h1, .category h1{
    text-align:center;
}
.blog #Recent-Work img, .archive #Recent-Work img, .category #Recent-Work img, .taxonomy #Recent-Work img, .tag #Recent-Work img, .author #Recent-Work img{ 
 height:100%;   
}
.single #Recent-Work img{
    height:100%;
}