/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$white:             #FFFFFF;
$grey:              #2e3655; /* Dark Slate Blue */
$black:             #000000; /* Black */
$secondarycolor:    #646E8C; /* Slate Grey */
$primarycolor:      #2e3655; /* Dark Blue */
$whitesmoke:        #f2f6f9; /* White Smoke */
$lighterblue:       #c0d0ed; /* Light Steel Blue */