/* Gravity Forms Overide Styles*/
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0!important;
}
.gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0!important;
}
body .gform_wrapper ul li.gfield {
    margin-top: 0!important;
    padding-top: 0!important;
}
.gform_wrapper .top_label .gfield_label{
    display:none!important;
}
.gform_wrapper .gform_footer{
    margin: 0!important;
    padding: 0!important;
}
.gform_footer .button{
    bottom:0!important;
    margin:0!important;
}
/*------------------------------*/
.gform_footer .button-wrapper, input[type="submit"]{
    text-align:center;
    margin: 0 auto;
    display:block;
    border:0 none;
} 
.gform_footer .button-wrapper .button {
    line-height: inherit;
    padding: 9px 15px;
    cursor: pointer;
    border-radius: 0;
    font-family: 'Nexa',sans-serif;
    letter-spacing: 1.5px;
    border: 1px solid $white;
    background: #646e8c none repeat scroll 0 0;
    color: $white;
    transition: all 0.5s ease-in-out 0s;
    display: inline-block;
    float: none;
    width: inherit;
    text-transform: uppercase;
}
.gform_footer .button-wrapper .button:hover, input:hover{
    background:#c0d0ed;
    color:#2e3655;
}
input[type="text"], input[type="email"], input[type="tel"] {
    position:relative;
    background:$white;
    width:100%;
    height: 75px;
    margin:0 0 20px;
    padding-right: 30px;
    padding-left: 30px;
    border: 1px solid #646e8c;
    font-family: Nexa, sans-serif;
    color: $primarycolor;
    &:focus {
        border-color: #c0d0ed;
        color: #646e8c;
    }
}