.paragraph {
  margin-bottom: 20px;
  font-family: Nexa, sans-serif;
  color: #2e3655;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  text-align: justify;
}
.paragraph-2 {
  font-family: Nexa, sans-serif;
  color: #2e3655;
  font-weight: 300;
  text-align: justify;
}
.section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
}

.section.content {
  padding-top: 70px;
  padding-bottom: 55px;
}

.section.contact {
  padding-top: 55px;
  padding-bottom: 70px;
}

.section.testimonials {
  padding-bottom: 70px;
}

.image-3 {
  position: relative;
  left: 200px;
  top: 35px;
  right: 0px;
  z-index: 100;
  margin-bottom: 0px;
}

.image-4 {
  position: relative;
  left: -200px;
  top: -35px;
  right: 0px;
  bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.image-4.sidebar-bdr {
  left: 0px;
  top: 0px;
}
.heading-2 {
  position: relative;
  left: 0px;
  top: -37px;
  right: 0px;
  z-index: 1000;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f2f6f9;
  font-family: Vincentia, sans-serif;
  color: #646e8c;
  font-size: 65px;
  line-height: 44px;
  font-weight: 400;
  text-align: center;
}
.div-block-2 {
  position: absolute;
  left: -100px;
  top: 0px;
  right: -100px;
  bottom: 0px;
  z-index: 100;
  border: 1px solid #646e8c;
}

.image-5:hover {
  background-image: -webkit-linear-gradient(270deg, rgba(100, 110, 140, .05), rgba(100, 110, 140, .05));
  background-image: linear-gradient(180deg, rgba(100, 110, 140, .05), rgba(100, 110, 140, .05));
}
.heading-3 {
  position: absolute;
  left: 0px;
  top: 61px;
  right: 0px;
  bottom: 140px;
  z-index: 1001;
  font-family: Vincentia, sans-serif;
  color: $white;
  font-size: 43px;
  font-weight: 300;
  text-align: center;
}
.section-3 {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  color: $white;
}

.text-block {
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  font-family: Nexa, sans-serif;
  color: #2e3655;
  line-height: 26px;
  font-weight: 300;
  text-align: justify;
}

.text-block-2 {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  font-family: Vincentia, sans-serif;
  color: #2e3655;
  font-size: 54px;
  font-weight: 400;
  text-align: right;
}

.image-9 {
  position: absolute;
  top: 35px;
  right: 0px;
  margin-bottom: 0px;
}

.image-10 {
  position: absolute;
  left: 0px;
  bottom: 35px;
}

.text-block-3 {
  font-family: Nexa, sans-serif;
  color: $white;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1.5px;
}
.text-field {
  border: 1px solid $white;
  background-image: -webkit-linear-gradient(270deg, #646e8c, #646e8c);
  background-image: linear-gradient(180deg, #646e8c, #646e8c);
  font-family: Nexa, sans-serif;
  color: $white;
  letter-spacing: 1.5px;
}

.text-field-2 {
  border: 1px solid $white;
  background-image: -webkit-linear-gradient(270deg, #646e8c, #646e8c);
  background-image: linear-gradient(180deg, #646e8c, #646e8c);
  font-family: Nexa, sans-serif;
  color: $white;
  letter-spacing: 1.5px;
}

.submit-button {
  float: right;
  border: 1px solid $white;
  background-image: -webkit-linear-gradient(270deg, #646e8c, #646e8c);
  background-image: linear-gradient(180deg, #646e8c, #646e8c);
  font-family: Nexa, sans-serif;
  letter-spacing: 1.5px;
}

.submit-button:hover {
  background-image: -webkit-linear-gradient(270deg, $white, $white);
  background-image: linear-gradient(180deg, $white, $white);
  color: #646e8c;
}

.div-block-3 {
  position: absolute;
  z-index: 1000000000;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.div-block-4 {
  position: fixed;
  top: 650px;
  right: 0px;
  z-index: 100000000;
  width: 50px;
  height: 162px;
  padding-left: 4px;
  background-image: -webkit-linear-gradient(270deg, #646e8c, #646e8c);
  background-image: linear-gradient(180deg, #646e8c, #646e8c);
}

.image-12 {
  margin: 15px 10px 10px;
}

.image-13 {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.image-14 {
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.image-15 {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.image-16 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 100%;
}
.tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.tab-link {
  top: 49px;
}

.tab-link-2 {
  top: 44px;
  right: 94px;
}

.tab-link-3.w--current {
  background-image: -webkit-linear-gradient(270deg, #646e8c, #646e8c);
  background-image: linear-gradient(180deg, #646e8c, #646e8c);
  color: $white;
}

.text-block-5 {
  font-family: Nexa, sans-serif;
}
.image-17 {
  position: relative;
  top: -49px;
  bottom: 0px;
}

.section-4 {
  padding-top: 111px;
  padding-bottom: 50px;
}

.heading-4 {
  padding-bottom: 0px;
  font-family: Vincentia, sans-serif;
  color: #2e3655;
  font-size: 65px;
  font-weight: 400;
}

.line {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin-bottom: 2px;
}

.div-block-5 {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 300px;
  height: 100%;
  float: right;
}

.line-1 {
  position: absolute;
  top: 147px;
  right: 0px;
  z-index: 10;
  float: right;
}

.section-6 {
  padding-bottom: 46px;
}

.section-7 {
  padding-top: 70px;
  padding-bottom: 0px;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Vincentia, sans-serif;
  color: #2e3655;
  font-size: 65px;
  line-height: 1em;
  font-weight: 400;
}
.section-8 {
  padding-top: 0px;
  padding-bottom: 70px;
}
.image-18 {
  position: absolute;
  height: 14200%;
}

.image-19 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
}
.section-9 {
  padding-top: 140px;
}

.section-10 {
  padding-top: 0px;
  padding-bottom: 70px;
}

.lightbox-link {
  position: static;
  z-index: 5000;
}

.image-20 {
  position: relative;
  display: block;
  width: auto;
  height: 80%;
  margin: 100px auto;
  text-align: center;
}

.lightbox1 {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5000;
  display: none;
  height: 100%;
  background-color: rgba(100, 110, 140, .3);
  text-align: center;
}
.link-block {
  position: absolute;
  top: 0px;
  right: 0px;
}
.image-22 {
  position: relative;
  top: -363px;
  right: 0px;
}
.image-24 {
  position: relative;
  left: 46px;
  top: 299px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.link-block-2 {
  position: absolute;
  left: 1229px;
  top: 100px;
  right: 0px;
  bottom: 62px;
  padding-top: 280px;
  padding-bottom: 280px;
  text-align: center;
}

.sidebar-blocks {
  position: static;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  border: 0px solid #2e3655;
  line-height: 20px;
}

.sidebar-blocks.blue-bg {
  position: relative;
  top: 0px;
  bottom: 0px;
  display: block;
  height: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  background-color: rgba(192, 208, 237, .2);
}
.div-block-7 {
  position: relative;
  height: 155px;
  background-image: -webkit-linear-gradient(270deg, #f2f6f9, #f2f6f9);
  background-image: linear-gradient(180deg, #f2f6f9, #f2f6f9);
}

.div-block-8 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  overflow: visible;
  width: 100%;
  height: auto;
  margin: 15px auto;
  border: 1px solid #2e3655;
  font-size: 15px;
  line-height: 15px;
}

.link-block-3 {
  display: block;
  width: 454px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-image: -webkit-linear-gradient(270deg, #f2f6f9, #f2f6f9);
  background-image: linear-gradient(180deg, #f2f6f9, #f2f6f9);
  text-decoration: none;
}

.link-block-3:hover {
  background-image: -webkit-linear-gradient(270deg, #646e8c, #646e8c);
  background-image: linear-gradient(180deg, #646e8c, #646e8c);
  color: $white;
}

.heading-7 {
  position: relative;
  top: 0px;
  bottom: 0px;
  font-family: Vincentia, sans-serif;
  color: #2e3655;
  font-size: 35px;
  font-weight: 400;
  text-align: center;
}

.div-block-9 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #2e3655;
}

.text-field-4 {
  height: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #646e8c;
  font-family: Nexa, sans-serif;
  color: #2e3655;
}

.text-field-4:focus {
  border-color: #c0d0ed;
  color: #646e8c;
}

.submit-button-2 {
  width: 190px;
  height: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  float: right;
  background-image: -webkit-linear-gradient(270deg, #c0d0ed, #c0d0ed);
  background-image: linear-gradient(180deg, #c0d0ed, #c0d0ed);
  font-family: Nexa, sans-serif;
  color: #2e3655;
  text-align: center;
}

.submit-button-2:hover {
  background-image: -webkit-linear-gradient(270deg, #2e3655, #2e3655);
  background-image: linear-gradient(180deg, #2e3655, #2e3655);
  color: $white;
}

.image-26 {
  position: absolute;
  display: block;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
}

.image-28 {
  position: relative;
  top: 299px;
  right: 46px;
}
.image-30.image-list {
  position: relative;
  margin-bottom: 15px;
}

.text-block-7 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  float: right;
  font-family: Vincentia, sans-serif;
  color: #2e3655;
  font-size: 32px;
  line-height: 1em;
  font-weight: 700;
}

.text-block-8 {
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
  margin-left: 5px;
  float: right;
  font-family: Nexa, sans-serif;
  line-height: 28px;
}
.section-11 {
  margin-top: 140px;
}

.image-32 {
  position: absolute;
  top: 43%;
  right: 20px;
  height: 50px;
  max-width: 50%;
}

.image-33 {
  position: absolute;
  left: 20px;
  top: 43%;
  height: 50px;
}
.text-block-9 {
  display: inline-block;
  margin: 20px 5px;
  float: right;
  font-family: Nexa, sans-serif;
  line-height: 30px;
}
.entry-content {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}
.heading-8 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Vincentia, sans-serif;
  color: #2e3655;
  font-size: 43px;
  line-height: 1em;
  font-weight: 400;
  text-align: left;
}
.heading-9 {
  margin-bottom: 0px;
  float: none;
  font-family: Vincentia, sans-serif;
  color: #2e3655;
  line-height: 1em;
  font-weight: 400;
  text-align: right;
}
.heading-9.signature {
  font-size: 30px;
}
.image-35 {
  position: relative;
  max-height: 100px;
  max-width: 400px;
}
.div-block-11 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.div-block-11.sep-container {
  margin-top: 35px;
  margin-bottom: 40px;
}

.image-44 {
  position: absolute;
  left: 15px;
  top: 43%;
  bottom: 0px;
  z-index: 1000;
  width: 40px;
  max-width: none;
}
.image-45 {
  position: absolute;
  top: 43%;
  right: 15px;
  display: block;
  width: 40px;
  max-width: none;
}
.heading-bdr {
  position: relative;
  display: block;
  width: 425px;
  margin-bottom: 70px;
}