/*
A. CUSTOM SETTINGS
1. TYPOGRAPHY
2. HEADER
3. NAVIGATION
4. SLIDERS
5. FOOTER 
6. COPYRIGHT
7. PAGE SPECIFIC
    7.1 HOME
    7.2 ABOUT
    7.3 PRICING
    7.4 FEATURED WEDDINGS
8. BLOG
8.1 BLOG SINGLE
8.2 BLOG ARCHIVE
9. CONTACT
10. PLUGINS
11. HOVER EFFECTS
12. COMMON STYLE / BORDERS
*/
/**
 * 
 * A. CUSTOM SETTINGS
 * ----------------------------------------------------------------------------
 */

meta.foundation-version {
    font-family: "/5.2.3/";
}

meta.foundation-mq-small {
    font-family: "/only screen/";
    width: 0em;
}

meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 40.063em;
}

meta.foundation-mq-large {
    font-family: "/only screen and (min-width:64.063em)/";
    width: 64.063em;
}

meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:90.063em)/";
    width: 90.063em;
}

meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.063em)/";
    width: 120.063em;
}

meta.foundation-data-attribute-namespace {
    font-family: false;
}

html, body {
    height: 100%;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .slides {
    display: block;
}
* html .slides {
    height: 1%;
}

a:hover {
    cursor: pointer;
}

img {
  max-width: 100%;
  height:auto;
  vertical-align: middle;
  display: inline-block;
}

img {
    -ms-interpolation-mode: bicubic;
}

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
    max-width: none !important;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}
/* Clearfix
*******************************/
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
.clear {
    clear: both;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.hide {
    display: none;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: inline-block;
    vertical-align: middle;
}
 
textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}
.cta-line{
  height: 3px;
  margin-bottom: 70px;
  background-color: #c0d0ed;    
    margin-bottom:0;
    .button {
        background-color: #646e8c;
        display: block;
        font-family: Nexa,sans-serif;
        letter-spacing: 1.5px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        padding-top: 15px;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        top: -22.5px;
        width: 190px;
    }
}

/* Header
*******************************/



/* Pagination centred wrapper */

a, a:visited, a:hover, a:visited:hover {
    text-decoration: none;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -webkit-transition: all 100ms linear;
    transition: all 100ms linear;
}

@media screen and (max-width: 50em) {
    figure img {
        width:100%;
    }
    .grid figure {
        display: inline-block;
        float: none;
        margin: 0 auto;
        width: 100%;
    }
}
.page, .single {
     padding-top:110px;
}
#blog-content figure img {
    max-width:100%;
    width:100%; 
}

img.alignright {
    float: right;
    margin: 0 0 18px 65px;
}

img.alignleft {
    float: left;
    margin: 0 18px 18px 0;
}

img.aligncenter {
    display: block;
    margin: 18px auto;
}

.gallery dt, .gallery dl {
    display: inline-block;
}
.gallery dl {
    margin-left: 0.5625rem;
    margin-right: 0.5625rem;
}

figure.figure {
    margin: 0 auto;
    display: table;
}
figure.figure figcaption {
    font-size: 0.875rem;
    line-height: 1.4;
    font-style: italic;
    padding: 8px 10px;
    color: #999;
    margin-bottom: 1.25rem;
    display: table-caption;
    caption-side: bottom;
}

figure.alignright.figure {
    float: right;
    margin: 0 0 18px 18px;
}

figure.alignleft.figure {
    float: left;
    margin: 0 18px 18px 0;
}
.inline-list {
    margin:0 0 1.0625rem -2rem;
}
body > header.contain-to-grid {
    margin-bottom: 2rem;
    max-width: 100%;
    padding-bottom: 0;
}
.index-card {
    border-bottom: 1px solid #ddd;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
span.author a:hover, span.author a:focus,
time a:hover,
time a:focus {
    color: #444444;
}
#comments {
    margin-top:25px;
}
#comments h3 {
    background:url(../img/header-btm-bdr.png) repeat-x left bottom;
    padding-bottom:20px;
    margin-bottom:15px;
    font-size:22px;
}
.entry-author {
    background-color: #fbfbfb;
    border: none;
    padding: 3.125rem 5rem;
}
.entry-author .avatar {
    margin-right: 2.5rem;
    margin-bottom: 1.5rem;
}
.entry-author h4 a {
    color: #999;
}
.entry-author h4 a:hover, .entry-author h4 a:focus {
    color: #444444;
}
.entry-author p {
    color: #bbb;
}
.entry-tags {
    color: #999;
    font-size: 0.9375rem;
}
.entry-tags a {
    color: #999;
}
.entry-tags a:hover, .entry-tags a:focus {
    color: #444444;
}
#content .ngg-gallery-thumbnail img {
    border:none;
    padding:0;
    border-radius:0;
}
#content .ngg-navigation a.page-numbers:hover, #content .ngg-navigation a.next:hover, #content .ngg-navigation a.prev:hover, #content .ngg-navigation span.page-numbers:hover, #content .ngg-navigation span.next:hover, #content .ngg-navigation span.prev:hover {
    background: #f5cdcb;
}
#content .ngg-navigation {
    text-align:left;
}
#content .ngg-navigation span {
    float:left;
    margin:5px 7px;
}
.ngg-navigation .page-numbers {
    margin:0;
    float:left;
}

.avatar {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
}

ol.commentlist {
    margin-left: 0;
    margin-top: 2em;
}
ol.commentlist p {
    font-size: 0.9375rem;
    line-height: 1.5;
}
ol.commentlist ul.children {
    margin-left: 4rem;
}
ol.commentlist li {
    list-style: none;
    margin-bottom: 2em;
}
ol.commentlist li .comment-author img {
    float: left;
    margin: 0 1em 0 0;
}
ol.commentlist li .author-meta {
    display: inline-block;
}
ol.commentlist li .author-meta cite.fn {
    font-style: normal;
    font-weight: 600;
    margin-right: 0.5rem;
}
ol.commentlist li .author-meta time a {
    color: #ccc;
    font-size: 0.875rem;
    margin-right: 0.5rem;
}
ol.commentlist li .author-meta .comment-edit-link {
    color: #bbb;
    font-size: 0.875rem;
}
ol.commentlist li section.comment {
    margin-left: 4rem;
    margin-bottom: 2rem;
}
ol.commentlist li section.comment a.comment-reply-link {
    font-size: 0.875rem;
    font-weight: 600;
    color: #bbb;
}
ol.commentlist li section.comment a.comment-reply-link:hover, ol.commentlist li section.comment a.comment-reply-link:focus {
    color: #444444;
}
a:hover {
    cursor: pointer;
}
html, body {
    height:auto!important;
}
img {
    max-width: 100%;
    height: auto;
    display: inline-block;
}
img {
    -ms-interpolation-mode: bicubic;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#wpadminbar {
    position: fixed !important;
}
[class*="column"] + [class*="column"]:last-child {
    float:left;
}
.os-animation{
  opacity: 0;
}
.os-animation.animated{
    opacity: 1;
}
.medium-centered{
    float:left!important;
}

.bottom-padding {
  padding-bottom: 40px;
}

.content {
  padding-top: 70px;
  padding-bottom: 70px;
  line-height: 24px;
}
.button {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: -5px;
  width: 190px;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  float: right;
  background-image: -webkit-linear-gradient(270deg, #c0d0ed, #c0d0ed);
  background-image: linear-gradient(180deg, #c0d0ed, #c0d0ed);
  font-family: Nexa, sans-serif;
  color: #2e3655;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1.5px;
}

.button:hover {
  background-color: #646e8c;
  background-image: -webkit-linear-gradient(270deg, #646e8c, #646e8c), -webkit-linear-gradient(270deg, #c0d0ed, #c0d0ed);
  background-image: linear-gradient(180deg, #646e8c, #646e8c), linear-gradient(180deg, #c0d0ed, #c0d0ed);
  color: $white;
}
.button-2 {
  position: relative;
  bottom: -20px;
  z-index: 1000;
  display: block;
  width: 190px;
  margin: 0px auto;
  padding:15px;
  background:#646e8c;
  font-family: Nexa, sans-serif;
  color: $white;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.button-2:hover {
  background:#f2f6f9;
  color: #646e8c;
}
.colPadLeft45 {
    padding-left:45px;
}
.colPadRight45 {
    padding-right:45px;
}
a.contact {
    background:$primarycolor;
    transition: all 0.5s ease-in-out 0s;
    border-bottom:3px solid $secondarycolor;
    padding: 20px 23px 17px;
    font-family: 'SuperGroteskC-Med', Arial, sans-serif;
    color:$white;
    text-transform:uppercase;
    line-height:15px;
}
a.contact:hover{
    background:$secondarycolor;
    border-bottom:3px solid $primarycolor;
    color:$primarycolor;
}
#banner{
    background-size: cover;
    min-height: 550px;
    position:relative;
    .titleholder{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width:100%;
        height:auto;
        z-index: 9999;
        p, h1{
            color:$white;
            text-align:left;
            font-family: 'Georgia', 'Times New Roman', serif;
            font-size: 250%;
            line-height: 44px;
            text-transform:none;
            margin-bottom:50px;
        }
    }
}
#intro {
    padding:40px 0;
    text-align:center;
    h1{
        color:$secondarycolor;
    }
    h1:after{
        border-bottom: 1px solid #5d6573;
        border-color: #5d6573;
        border-width: 1px;
        content: "";
        display: block;
        height: 5px;
        margin-left: 0;
        padding-top: 20px;
        margin-bottom:30px;
        position: relative;
        left:50%;
        transform:translateX(-50%);
        width: 30%;
    }
    h2 {
        font-family: 'Georgia', 'Times New Roman', serif;
        color:$secondarycolor;
        text-transform: none;
    }
}
#content{
    padding:0 0 40px;
}


#page-links {
    padding-bottom:40px;
}
#testimonials {
    background:$secondarycolor; //url(../img/testimonials-BG-texture.png) no-repeat 60% 0//
    position:relative;
    h5{
        color:$white;
        border-bottom:1px solid $white;
        padding-bottom:20px;
        margin-bottom:30px;
        display:inline-block;
    }
    .wrap {
        padding:45px 45px 25px;
        blockquote {
            color:$white;
            margin-bottom:15px;
            p {
                color:$white;
                margin:0;
            }
            span {
                font-family: 'SuperGroteskC-Med', Arial, sans-serif;
            }
        }
        blockquote:before {
            content:'';
            background:url(../img/quotes.png) no-repeat 0 0;
            margin:0;
            float:left;
            height:16px;
            width:20px;
            margin-left:-30px;
        }
    }
    img {
        display: block;
    }
}

/**
 * 1. TYPOGRAPHY
 * ----------------------------------------------------------------------------
 */

/**
 * 2. HEADER
 * ----------------------------------------------------------------------------
 */

/**
 * 3. NAVIGATION
 * ----------------------------------------------------------------------------
 */

/**
 * 4. SLIDERS
 * ----------------------------------------------------------------------------
 */

/**
 * 5. FOOTER 
 * ------------------------------------
 */

/**
 * 6. COPYRIGHT
 * ------------------------------------
 */

/** 7. PAGE SPECIFIC
 * ------------------------------------ */

/**
 *  7.1 HOME
 * ------------------------------------
 */
#page-links{
    .link{

    }
}
/**
 *  7.2 ABOUT
 * ------------------------------------
 */

/**
 *  7.3 PRICING
 * ------------------------------------
 */

/**
 *  7.4 FEATURED WEDDINGS
 * ------------------------------------
 */

/**
 *  8. BLOG
 * ------------------------------------
 */
#blog-feed{
    padding-bottom:40px;
    .align{
        text-align:center;
        h3.blog{
            color:$primarycolor;
        }
        h3.blog:after{
            border-bottom: 1px solid #5d6573;
            border-color: #5d6573;
            border-width: 1px;
            content: "";
            display: block;
            height: 5px;
            margin-left: 0;
            padding-top: 20px;
            margin-bottom:30px;
            position: relative;
            left:50%;
            transform:translateX(-50%);
            width: 30%;
        }
    }
    figure.effect-andrew{
        .time {
            position:absolute;
            bottom:10px;
            left:15px;
            background:$white;
            border-radius:50%;
            padding:13px 5px 15px;
            time {
                color:$secondarycolor;
                font-family: "SuperGroteskC-Med", "Georgia", serif;
                font-size:90%;

            }
        }
    }
    .wrap{
        position:relative;
        background:$secondarycolor;
        padding:20px;
        border-top:10px solid $primarycolor;
        margin-top:-1px;
        h4{
            border-bottom:1px solid $white;
            padding-bottom:15px;
            line-height:28px;
            a {  
                color:$white;
                transition: all 0.5s ease-in-out 0s;
            }
            a:hover{
                color:$primarycolor;
            }
        }
        p {
            color:$white;
        }
        a.contact{
            display:inline-block;
            border-bottom:3px solid $white;
            transition: all 0.5s ease-in-out 0s;
        }
        a.contact:hover{
            border-bottom:3px solid $grey;
            color:$grey;
            background:$white;
        }
        .align{
            text-align:right;
        }
    }
}

/**
 *  8.1 BLOG SINGLE
 * ------------------------------------
 */

/**
 *  8.2 BLOG ARCHIVE
 * ------------------------------------
 */

/**
 *  9. CONTACT
 * ------------------------------------
 */

/**
 * 10. PLUGINS
 * ------------------------------------
 */

/**
 * 11. HOVER EFFECTS
 * ------------------------------------
 */
/*--Gallery Hover--*/
figure.effect-ab {
    position:relative;
    background: $grey;
    overflow:hidden;
    z-index:10;
    img {
        position:relative;
        width:100%;
        max-width: 100%;
        display:block;
        opacity: 0.95;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
    }
    h3 {
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.35s;        
        text-align:center;
        font-family: 'Georgia', 'Times New Roman';
        font-size:130%;
        color:$white;
        position: absolute;
        left: 20px;
        right:20px;
        margin: 0;
        padding: 0;
        text-align: center;
        opacity: 0;

    }
}
figure.effect-ab figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

figure.effect-ab:hover {
    img {
        opacity: 0.6;
        -moz-transform: scale3d(1,1,1);
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
    h3 {
        opacity: 1;   
    }
}

figure.effect-ab:hover figcaption::before {
    -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,110%,0);
    transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,110%,0);
}
/*--Home Hover--*/
figure.effect-andrew {
    position: relative;
    overflow: hidden;
    z-index: 10;
    a {
        display:block;
        img {
            position: relative;
            width: 100%;
            max-width: 100%;
            display: block;
            opacity: 1; 
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale3d(1.05, 1.05, 1);
            transform: scale3d(1.05, 1.05, 1);
            backface-visibility: hidden;

        }
    }
    h3 {
        position: absolute;
        transform: translateY(-50%);
        transition: opacity 0.35s;
        text-align: center;
        color: $grey;
        position: absolute;
        margin: -5px 0 0;
        padding: 0;
        text-align: center;
        opacity: 1
    }
    h3.first{
        left: 20px;
        top: 18%;
    }
    h3.last{
        color:$white;
        top: 88%;
        right: 20px;
    }
    .wrap{
        position:absolute;
        border:1px solid $primarycolor;
        left:40px;
        right:40px;
        bottom:40px;
        top:40px;
    }
    div.last{
        border:1px solid $white;
    }
}
figure.effect-andrew figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -105%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -105%, 0)
}
figure.effect-andrew:hover {
    img {
        opacity: 0.6;
        -moz-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
    h3 {
        opacity: 1
    }
    figcaption::before {
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0)
    }
}
/**
 * 12. COMMON STYLE / BORDERS
 * ------------------------------------
 */

/* SHARING */

.single{
    #content{
        .entry-feature {
            margin: 0 0 34px;
            border-radius: 6px;
            overflow: hidden;
        }
        .entry-header {
            width: 25%;
            float: left;
        }
        .entry-header a {
            color: #8c8d90;
        }
        .entry-author img {
            margin: 0 0 18px;
            display: block;
            max-width: 100%;
        }
        .entry-tags, .comments-link, .entry-author {
            a {
                color:$grey;
            }
            a:hover {
                color:$secondarycolor;
            }
        }
        .entry-meta,
        .entry-share {
            font-size: 13px;
            margin: 8px 0;
        }
        .avatar {margin-left:0!important;}
        .entry-share{
            font-size: 16px;
            margin-bottom:0px;
            margin-top:0;
            padding-top:22px;
            float:right;
            p{
                display:inline;
                margin-bottom:0;
                font-family: 'SuperGroteskC-Med';
                text-transform:uppercase;
                font-size:80%;
                line-height: 34px;
            }
            ul.social{
                position:relative;
                display:block;
                text-align:right;
                margin: 0 0 10px;
                float:right;
                li {
                    float:none;
                    display: inline-block;
                    margin: 0 4px;
                    padding: 0;
                    font-size:100%;
                    a {
                        border-radius:50%;
                        background:$secondarycolor;
                        display:block;
                        transition: all 0.5s ease-in-out 0s;
                        i {
                            display: block;
                            height:25px;
                            line-height: 25px;
                            width:25px;
                            color:$white;
                        }
                        i.fa-google-plus{
                            font-size: 90%;
                            padding-right: 3px;
                        }
                        i.fa-twitter{
                            padding-right: 5px;
                        }
                        i.fa-facebook{
                            padding-right: 8px;
                        }
                    }
                    a:hover{
                        background:$grey;
                        i{
                            color:none;
                        }
                    }
                }
                li:nth-child(1){
                    margin-left:15px;
                }
            }
        }
        .entry-share a:hover {
            text-decoration: none;
        }
        .entry-share-link {
            position: relative;
        }
        .share-popup {
            text-align: center;
            background-color: $white;
            border: 1px solid rgba(0, 0, 0, .10);
            padding: 12px 30px 10px;
            position: absolute;
            bottom: 38px;
            left: 50%;
            width: 170px;
            z-index: 99999;
            border-radius: 6px;
            display: none;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
        .share-popup:after {
            color: $white;
            bottom: -2px;
            left: 1px;
            text-align: center;
            text-shadow: rgba(0, 0, 0, .10) 1px 0 0;
            -o-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -khtml-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            width: 100%;
            content: "▸";
            display: block;
            font-size: 2em;
            height: 0;
            line-height: 0;
            position: absolute;
        }
        .share-popup a {
            font-size: 20px;
        }
    }
}
/* BLOG FEED */

#blog-feed .wrap {
        min-height: 300px;
}
#blog-feed .absolute{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.rotate {
    bottom: 26%;
    position: absolute;
    display: inline-block;
    z-index: 10;
    right: 35%;
    transform: translateX(50%);   
    min-width: 300px;
    color: $white;
    
    img {
        width: 50px;
    }

    h3 {
        font-family: 'SuperGroteskC-Med';
        
        color: $white;
        font-size: 120%;
            /* Safari */
        -webkit-transform: rotate(-15deg);

        /* Firefox */
        -moz-transform: rotate(-15deg);

        /* IE */
        -ms-transform: rotate(-15deg);

        /* Opera */
        -o-transform: rotate(-15deg);
        /* Internet Explorer */
   // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    color: $white;
    }
    h3 {
        text-transform: uppercase;
    }
    p {
        color: $white;
        font-size: 100%;
            /* Safari */
        -webkit-transform: rotate(-15deg);

        /* Firefox */
        -moz-transform: rotate(-15deg);

        /* IE */
        -ms-transform: rotate(-15deg);

        /* Opera */
        -o-transform: rotate(-15deg);
        /* Internet Explorer */
   // filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    }
}